.preview-container {
    border: 1px solid #ededed;
    background-color: #fff !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.fnt-smaller {
    font-size: .9em;
}

#preview-url {
    font-size: 1em;
    color: #bbb;
    text-transform: uppercase;
}

#preview-title {
    color: #03a1d1;
    font-size: 18px;
}

#preview-description {
    margin-top: 3px;
    font-size: 13px;
}

@media only screen and (max-width: 991px) {
    .preview-container {
        padding: 5px !important;
    }

    .preview-container a {
        margin: 0;
    }

    .preview-container .media-body {
        padding: 10px;
    }
}

@media (max-width: 475px) {
    #preview-description {
        display: none !important;
    }

    #preview-image {
        max-width: 100px;
    }
}

@media (min-width: 475px) {
    #preview-image {
        max-width: 180px;
    }

    #preview-description {
        display: block;
    }
}

.close-preview-btn {
    float: right;
    background: url('../img/close.png') no-repeat left 0;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.preview-link-container {
    display: block;
    position: relative;
}

.video-play-inline {
    background-size: auto;
    background: rgba(0, 0, 0, .5) url('../img/video_play.png') no-repeat 0 0;
    height: 54px;
    width: 54px;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    opacity: 0.6;
}

.video-play-inline:hover {
    cursor: pointer;
    opacity: 0.9;
}